.App {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  .hover {
    color: #598234;
    text-decoration: none;
  }

  .nav-pages-group {
    width: 100%;
    float: unset !important;

    .page-title {
      margin-right: 30px;

      > a:hover {
        @extend .hover;
      }
    }
  }

  .icon-link {
    padding: 10px;
    text-decoration: none;

    span {
      margin-right: 5px;
    }

    &:hover {
      @extend .hover;
    }
  }
}
